.input-container {
	height: 75px;
	background-color: #424352;
	border-bottom: solid 1px gray;

	input, button {
		height: 25px;
		margin: 2px;
		margin-top: 25px;
		/*font-size: 21px;*/
		/*line-height: 25px;*/
	}

	.signup {
		float: left;
	}

	.login{
		float: right;
	}
}


.post-bound {
    width: 80em;
    margin: auto auto;
    margin-bottom: 80px;
}

.active-container {
	height: 1000px;
	overflow: scroll;
	background-image: linear-gradient(to bottom, #444444 0%, #333333 100%);
	padding-top: 40px;
}
